image: docker:latest
services:
    - docker:dind

stages:
    - amd64
    - i386
    - rustc

# Expects $IMAGE which should be the name+tag of the registry image.
# Expects $OCI_YML variable which should be the path to the dockerfile
.base_template: &base_build
    script:
        - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
        - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
        - docker push ${IMAGE}
    allow_failure: true

# Expects $ARCH variable which should be the architexcture of the image ex. x86_64
# Expects $DISTRO_NAME variable which should be the name of the distro image ex. ubuntu
# Expects $DISTRO_VER variable which should be the version distro image ex. 18.04
# Expects $OCI_YML variable which should be the path to the dockerfile
.distro_template: &distro_build
    before_script:
        - export IMAGE=${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
    <<: *base_build
    allow_failure: true

# Expects $VERSION variable which should be the version of the compiler ex. 1.24
# Expects $OCI_YML variable which should be the path to the dockerfile
.rustc_template: &rustc_build
    before_script:
        - export IMAGE=${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/rustc:${VERSION}
    <<: *base_build
    allow_failure: true

fedora:latest:
    stage: amd64
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "fedora"
      DISTRO_VER: "latest"
      OCI_YML: "amd64/fedora_latest.yml"

    <<: *distro_build

fedora:rawhide:
    stage: amd64
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "fedora"
      DISTRO_VER: "rawhide"
      OCI_YML: "amd64/fedora_rawhide.yml"

    <<: *distro_build

debian:testing:
    stage: amd64
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "debian"
      DISTRO_VER: "testing"
      OCI_YML: "amd64/debian_testing.yml"

    <<: *distro_build

opensuse:tumbleweed:
    stage: amd64
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "opensuse"
      DISTRO_VER: "tumbleweed"
      OCI_YML: "amd64/opensuse_tumbleweed.yml"

    <<: *distro_build

amazon:2:
    stage: amd64
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "amazon"
      DISTRO_VER: "2"
      OCI_YML: "amd64/amazon_linux_2.yml"

    <<: *distro_build

debian_i386:testing:
    stage: i386
    variables:
      ARCH: "i386"
      DISTRO_NAME: "debian"
      DISTRO_VER: "testing"
      OCI_YML: "i386/debian_testing.yml"

    <<: *distro_build

rustc:1.24:
    stage: rustc
    variables:
      VERSION: "1.24"
      OCI_YML: "rustc/v1_24_0.yml"

    <<: *rustc_build

rustc:1.23:
    stage: rustc
    variables:
      VERSION: "1.23"
      OCI_YML: "rustc/v1_23_0.yml"

    <<: *rustc_build

rustc:1.22.1:
    stage: rustc
    variables:
      VERSION: "1.22.1"
      OCI_YML: "rustc/v1_22_1.yml"

    <<: *rustc_build

rustc:1.21:
    stage: rustc
    variables:
      VERSION: "1.21"
      OCI_YML: "rustc/v1_21_0.yml"

    <<: *rustc_build

rustc:1.20:
    stage: rustc
    variables:
      VERSION: "1.20"
      OCI_YML: "rustc/v1_20_0.yml"

    <<: *rustc_build

