image: docker:latest
services:
    - docker:dind

stages:
    - clippy

variables:
  IMAGE_TAG: ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/clippy:nightly

build:
  stage: clippy
  script:
    - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
    - docker build --pull -f clippy.yml -t ${IMAGE} .
    - docker push ${IMAGE_TAG}