image: 'registry.fedoraproject.org/fedora:30'

stages:
  - distro
  - rustc

# Buildah can't use 'overlay' driver when running inside docker
variables:
  STORAGE_DRIVER: 'vfs'

# Expects $IMAGE which should be the name+tag of the registry image.
# Expects $DOCKERFILE variable which should be the path to the dockerfile
# Expects $CONTEXT_DIR variable which should be the name of the parrent folder of the dockerfile
.base:
  script:
    - dnf install -y buildah podman
    - buildah login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY

    # Newer versions of podman/buildah try to set overlayfs mount options when
    # using the vfs driver, and this causes errors.
    - sed -i '/^mountopt =.*/d' /etc/containers/storage.conf

    - podman build --cgroup-manager=cgroupfs --format=docker --pull -f ${DOCKERFILE} -t ${IMAGE} ${CONTEXT_DIR}
    - |
      if [ "$CI_COMMIT_REF_NAME" = "master" ]; then
          podman push ${IMAGE}
      else
          echo "Not pushing image, as we are on non-master branch $CI_COMMIT_REF_NAME"
      fi

# Expects $ARCH variable which should be the architexcture of the image ex. x86_64
# Expects $DISTRO_NAME variable which should be the name of the distro image ex. ubuntu
# Expects $DISTRO_VER variable which should be the version distro image ex. 18.04
# Expects $DOCKERFILE variable which should be the path to the dockerfile
.distro build:
  stage: distro
  before_script:
    - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
  extends: '.base'

# Expects $COMPILER variable which should be the name of the compiler ex. rustc/gcc
# Expects $TAG_VERSION variable which should be the version of the compiler minus the minor release ex. 1.24
# Expects $RUSTC_VERSION variable which should be the version of the compiler ex. 1.24.1
.rustc:
  stage: rustc
  variables:
    CONTEXT_DIR: 'rustc'
    DOCKERFILE: 'rustc/rustc'
  before_script:
    - export IMAGE=${CI_REGISTRY_IMAGE}/rustc:${TAG_VERSION}
    - sed -e "s|@RUSTC_VERSION@|$RUSTC_VERSION|" rustc/rustc_template > rustc/rustc
  extends: '.base'
  only:
    changes:
      - 'rustc/*'

fedora latest:
  extends: '.distro build'
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "fedora"
    DISTRO_VER: "latest"
    DOCKERFILE: "fedora/latest"
    CONTEXT_DIR: "fedora"
  only:
    changes:
      - 'fedora/*'

fedora rawhide:
  extends: '.distro build'
  allow_failure: true
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "fedora"
    DISTRO_VER: "rawhide"
    DOCKERFILE: "fedora/rawhide"
    CONTEXT_DIR: "fedora"
  only:
    changes:
      - 'fedora/*'

debian testing:
  extends: '.distro build'
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "debian"
    DISTRO_VER: "testing"
    DOCKERFILE: "debian/testing"
    CONTEXT_DIR: "debian"
  only:
    changes:
      - 'debian/*'

opensuse tumbleweed:
  extends: '.distro build'
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "opensuse"
    DISTRO_VER: "tumbleweed"
    DOCKERFILE: "opensuse/tumbleweed"
    CONTEXT_DIR: "opensuse"
  only:
    changes:
      - 'opensuse/*'

ubuntu 18.04 x86_64:
  extends: '.distro build'
  variables:
    ARCH: "amd64"
    DISTRO_NAME: "ubuntu"
    DISTRO_VER: "18.04"
    DOCKERFILE: "debian/bionic"
    CONTEXT_DIR: "debian"
  only:
    changes:
      - 'debian/*'

debian testing i386:
  extends: '.distro build'
  variables:
    ARCH: "i386"
    DISTRO_NAME: "debian"
    DISTRO_VER: "testing"
    DOCKERFILE: "debian/i386_testing"
    CONTEXT_DIR: "debian"
  only:
    changes:
      - 'debian/*'

ubuntu 18.04 i386:
  extends: '.distro build'
  variables:
    ARCH: "i386"
    DISTRO_NAME: "ubuntu"
    DISTRO_VER: "18.04"
    DOCKERFILE: "debian/i386_bionic"
    CONTEXT_DIR: "debian"
  only:
    changes:
      - 'debian/*'

rustc 1.32 12:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.32.0"
    TAG_VERSION: "1.32"

rustc 1.31 11:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.31.1"
    TAG_VERSION: "1.31"

rustc 1.30 10:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.30.1"
    TAG_VERSION: "1.30"

rustc 1.29 9:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.29.2"
    TAG_VERSION: "1.29"

rustc 1.28 8:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.28.0"
    TAG_VERSION: "1.28"

rustc 1.27 7:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.27.2"
    TAG_VERSION: "1.27"

rustc 1.26 6:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.26.2"
    TAG_VERSION: "1.26"

rustc 1.25 5:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.25.0"
    TAG_VERSION: "1.25"

rustc 1.24 4:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.24.1"
    TAG_VERSION: "1.24"

rustc 1.23 3:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.23.0"
    TAG_VERSION: "1.23"

rustc 1.22 2:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.22.1"
    TAG_VERSION: "1.22"

rustc 1.21 1:
  extends: '.rustc'
  variables:
    RUSTC_VERSION: "1.21.0"
    TAG_VERSION: "1.21"
