stages:
    - distro_image
    - rustc_image

# Expects $DISTRO_NAME variable which should be the name of the distro image ex. ubuntu
# Expects $DISTRO_VER variable which should be the version distro image ex. 18.04
# Expects $OCI_YML variable which should be the path to the dockerfile
.distro_template: &distro_build
    variables:
        IMAGE: ${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/${DISTRO_NAME}:${DISTRO_VER}

    image: docker:latest
    services:
        - docker:dind

    script:
        - export IMAGE=${CI_REGISTRY}/${CI_PROJECT_NAMESPACE}/${CI_PROJECT_NAME}/${DISTRO_NAME}:${DISTRO_VER}

        # - echo ${DISTRO_NAME}:${DISTRO_VER}
        # - echo ${OCI_YML}
        # - echo ${IMAGE}

        - docker login -u ${CI_REGISTRY_USER} -p ${CI_REGISTRY_PASSWORD} ${CI_REGISTRY}
        - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
        - docker push ${IMAGE}

fedora:latest:
    stage: distro_image
    before_script:
        - export DISTRO_NAME="fedora"
        - export DISTRO_VER="latest"
        - export OCI_YML="cross-distro-images/fedora_latest.yml"
    <<: *distro_build

fedora:rawhide:
    stage: distro_image
    before_script:
        - export DISTRO_NAME="fedora"
        - export DISTRO_VER="rawhide"
        - export OCI_YML="cross-distro-images/fedora_rawhide.yml"
    <<: *distro_build

debian:testing:
    stage: distro_image
    before_script:
        - export DISTRO_NAME="debian"
        - export DISTRO_VER="testing"
        - export OCI_YML="cross-distro-images/debian_testing.yml"
    <<: *distro_build

opensuse:tumbleweed:
    stage: distro_image
    before_script:
        - export DISTRO_NAME="opensuse"
        - export DISTRO_VER="tumbleweed"
        - export OCI_YML="cross-distro-images/opensuse_tumbleweed.yml"
    <<: *distro_build

rustc:1.24:
    stage: rustc_image
    before_script:
        - export DISTRO_NAME="rustc"
        - export DISTRO_VER="1.24"
        - export OCI_YML="rustc_versions/rustc-1-24-0.yml"
    <<: *distro_build

rustc:1.23:
    stage: rustc_image
    before_script:
        - export DISTRO_NAME="rustc"
        - export DISTRO_VER="1.23"
        - export OCI_YML="rustc_versions/rustc-1-23-0.yml"
    <<: *distro_build

rustc:1.22.1:
    stage: rustc_image
    before_script:
        - export DISTRO_NAME="rustc"
        - export DISTRO_VER="1.22.1"
        - export OCI_YML="rustc_versions/rustc-1-22-1.yml"
    <<: *distro_build

rustc:1.21:
    stage: rustc_image
    before_script:
        - export DISTRO_NAME="rustc"
        - export DISTRO_VER="1.21"
        - export OCI_YML="rustc_versions/rustc-1-21-0.yml"
    <<: *distro_build

rustc:1.20:
    stage: rustc_image
    before_script:
        - export DISTRO_NAME="rustc"
        - export DISTRO_VER="1.20"
        - export OCI_YML="rustc_versions/rustc-1-20-0.yml"
    <<: *distro_build

rustc:1.19:
    stage: rustc_image
    before_script:
        - export DISTRO_NAME="rustc"
        - export DISTRO_VER="1.19"
        - export OCI_YML="rustc_versions/rustc-1-19-0.yml"
    <<: *distro_build

rustc:1.18:
    stage: rustc_image
    before_script:
        - export DISTRO_NAME="rustc"
        - export DISTRO_VER="1.18"
        - export OCI_YML="rustc_versions/rustc-1-18-0.yml"
    <<: *distro_build
