image: docker:latest
services:
    - docker:dind

# When using dind, it's wise to use the overlayfs driver for
# improved performance.
variables:
    DOCKER_DRIVER: overlay2

stages:
    - distro
    - rustc

# Expects $IMAGE which should be the name+tag of the registry image.
# Expects $OCI_YML variable which should be the path to the dockerfile
# Expects $DIR variable which should be the name of the parrent folder of the dockerfile
.base:
  script:
    - cd ${DIR}
    - docker login -u gitlab-ci-token -p $CI_JOB_TOKEN $CI_REGISTRY
    - docker build --pull -f ${OCI_YML} -t ${IMAGE} .
    - docker push ${IMAGE}

# Expects $ARCH variable which should be the architexcture of the image ex. x86_64
# Expects $DISTRO_NAME variable which should be the name of the distro image ex. ubuntu
# Expects $DISTRO_VER variable which should be the version distro image ex. 18.04
# Expects $OCI_YML variable which should be the path to the dockerfile
.distro_template: &distro_build
    stage: distro
    before_script:
        - export IMAGE=${CI_REGISTRY_IMAGE}/${ARCH}/${DISTRO_NAME}:${DISTRO_VER}
    extends: '.base'

# Expects $COMPILER variable which should be the name of the compiler ex. rustc/gcc
# Expects $TAG_VERSION variable which should be the version of the compiler minus the minor release ex. 1.24
# Expects $RUSTC_VERSION variable which should be the version of the compiler ex. 1.24.1
.rustc_template: &rustc
    stage: rustc
    before_script:
        - export IMAGE=${CI_REGISTRY_IMAGE}/rustc:${TAG_VERSION}
        - export OCI_YML=rustc.yml
        - export DIR=rustc/
        - sed -e "s|@RUSTC_VERSION@|$RUSTC_VERSION|" rustc/rustc_template > rustc/rustc.yml
    extends: '.base'
    only:
        refs:
            - shedules
            - triggers
        changes:
            - 'rustc/*'

fedora latest:
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "fedora"
      DISTRO_VER: "latest"
      OCI_YML: "latest.yml"
      DIR: "fedora"
    only:
        refs:
            - shedules
            - triggers
        changes:
            - 'fedora/*'

    <<: *distro_build

fedora rawhide:
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "fedora"
      DISTRO_VER: "rawhide"
      OCI_YML: "rawhide.yml"
      DIR: "fedora"
    only:
        refs:
            - shedules
            - triggers
        changes:
            - 'fedora/*'

    <<: *distro_build
    allow_failure: true

debian testing:
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "debian"
      DISTRO_VER: "testing"
      OCI_YML: "testing.yml"
      DIR: "debian"
    only:
        refs:
            - shedules
            - triggers
        changes:
            - 'debian/*'

    <<: *distro_build

opensuse tumbleweed:
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "opensuse"
      DISTRO_VER: "tumbleweed"
      OCI_YML: "tumbleweed.yml"
      DIR: "opensuse"
    only:
        refs:
            - shedules
            - triggers
        changes:
            - 'opensuse/*'

    <<: *distro_build

ubuntu 18.04 x86_64:
    variables:
      ARCH: "amd64"
      DISTRO_NAME: "ubuntu"
      DISTRO_VER: "18.04"
      OCI_YML: "bionic.yml"
      DIR: "debian"
    only:
        refs:
            - shedules
            - triggers
        changes:
            - 'debian/*'

    <<: *distro_build

debian testing i386:
    variables:
      ARCH: "i386"
      DISTRO_NAME: "debian"
      DISTRO_VER: "testing"
      OCI_YML: "i386_testing.yml"
      DIR: "debian"
    only:
        refs:
            - shedules
            - triggers
        changes:
            - 'debian/*'

    <<: *distro_build

ubuntu 18.04 i386:
    variables:
      ARCH: "i386"
      DISTRO_NAME: "ubuntu"
      DISTRO_VER: "18.04"
      OCI_YML: "i386_bionic.yml"
      DIR: "debian"
    only:
        refs:
            - shedules
            - triggers
        changes:
            - 'debian/*'

    <<: *distro_build

rustc 1.29 9:
    variables:
      RUSTC_VERSION: "1.29.2"
      TAG_VERSION: "1.29"
    <<: *rustc

rustc 1.28 8:
    variables:
      RUSTC_VERSION: "1.28.0"
      TAG_VERSION: "1.28"
    <<: *rustc

rustc 1.27 7:
    variables:
      RUSTC_VERSION: "1.27.2"
      TAG_VERSION: "1.27"
    <<: *rustc

rustc 1.26 6:
    variables:
      RUSTC_VERSION: "1.26.2"
      TAG_VERSION: "1.26"
    <<: *rustc

rustc 1.25 5:
    variables:
      RUSTC_VERSION: "1.25.0"
      TAG_VERSION: "1.25"
    <<: *rustc

rustc 1.24 4:
    variables:
      RUSTC_VERSION: "1.24.1"
      TAG_VERSION: "1.24"
    <<: *rustc

rustc 1.23 3:
    variables:
      RUSTC_VERSION: "1.23.0"
      TAG_VERSION: "1.23"
    <<: *rustc

rustc 1.22 2:
    variables:
      RUSTC_VERSION: "1.22.1"
      TAG_VERSION: "1.22"
    <<: *rustc

rustc 1.21 1:
    variables:
      RUSTC_VERSION: "1.21.0"
      TAG_VERSION: "1.21"
    <<: *rustc
